/*
Theme Name: Frost Woo
Theme URI: https://github.com/wpengine/frost
Author: WP Engine
Author URI: https://wpengine.com/
Description: Frost for WooCommerce
Requires at least: 5.8
Tested up to: 5.9
Requires PHP: 5.7
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: https://raw.githubusercontent.com/Automattic/themes/trunk/LICENSE
Template: frost-trunk
Text Domain: frostwoo
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/